<h1>Welcome to the Todo App</h1>
<img src="/images/todo.jpg" alt="todo" height="200" width="300"/>
<p>
    Welcome to our To-Do Application, a simple and efficient tool designed to help you manage your daily tasks effectively. With full CRUD (Create, Read, Update, Delete) functionality, this app allows users to effortlessly add new tasks, view their task list, update existing tasks, and delete completed or unwanted tasks. Whether you're organizing your personal schedule or managing a project, this application offers a seamless experience for staying on top of your responsibilities.
</p>
<a href="/users/register">Get Started</a>
