@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');

a {
  color: #00B7FF;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Parkinsans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

:root {
  --color-primary: #182C61;
  --color-secondary: #F97F51;
  --color-accent: #25CCF7;
}

button {
  padding: 0.25rem 0.75rem;
  cursor: pointer;
  background: var(--color-primary);
}